.blogs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    margin-bottom: 9rem;
}

.blog {
    background-color: #FFFBD9;
    margin-top: 3rem;
}

.blog-texts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.blog-heading {
    color: #272400;
    font-family: Inter;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 3rem;/
}

.blog-content {
    color: #272400;
    font-family: Barlow;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.blog-link {
    color: #1B47E2;
    font-family: Barlow;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
}

@media only screen and (max-width: 1400px) {
    .blogs-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
        row-gap: 2rem;
    }

    .blog img {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .blogs-container {
        display: block;
    }
}